:root {
    --primary-color: #111010;
    --secondary-color: #111010;
    --hover-color: #FFFFFF;
}

body {
    font-family: "Josefin Sans" sans-serif;
}

/* Estilos principales de la navbar */
.navbar {
    background-color: #1e1e1e;
    padding: 15px 0;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}

.navbar-brand {
    font-weight: bold;
    color: #fff !important;
    font-size: 24px;
    letter-spacing: 1px;
    line-height: 1;
    padding: 0;
}

.brand-subtitle {
    font-size: 13px;
    /* Tamaño más pequeño para el subtítulo */
    text-transform: none;
    /* Mantiene el formato original del texto */
    letter-spacing: normal;
    /* Espaciado normal entre letras */
    font-weight: normal;
    /* Peso de fuente normal (no negrita) */
    opacity: 0.8;
    margin-bottom: 6px;
}

.nav-link {
    color: #ecf0f1 !important;
    font-weight: 500;
    text-transform: uppercase;
    padding: 10px 20px !important;
    margin: 0 5px;
    transition: all 0.3s ease;
    position: relative;
    display: flex;
    align-items: center;
}

.navbar-nav {
    margin: 0 auto;
    /* Centrar horizontalmente */
    display: flex;
    justify-content: center;
    /* Distribuir elementos centrados */
    gap: 20px;
    /* Espaciado entre los enlaces */
}

/* Estilo para el logo */
.navbar-logo {
    height: 70px;
    /* Altura fija para el logo */
    width: auto;
    /* Ancho automático para mantener proporción */
}

/* Estilos de los enlaces */

.nav-link {
    color: #ecf0f1 !important;
    font-weight: 500;
    text-transform: uppercase;
    padding: 8px 16px !important;
    margin: 0 5px;
    transition: all 0.3s ease;
    position: relative;
    font-size: 14px;
}


.nav-link::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 59%;
    width: 0;
    height: 2px;
    background-color: var(--hover-color);
    transition: all 0.3s ease;
}

.nav-link:hover {
    color: var(--hover-color) !important;
}

.nav-link:hover::after {
    width: 100%;
    left: 0;
}

.navbar-toggler {
    border-color: #fff;
}



@media (max-width: 991px) {
    .navbar-nav {
        background-color: var(--secondary-color);
        padding: 20px;
        border-radius: 10px;
        margin-top: 10px;
        border: 1px solid #fffa;
    }

    .nav-link {
        text-align: center;
        justify-content: center;
        margin: 5px 0;
        padding: 10px !important;
    }

    .nav-link::after {
        display: none;
    }
}

.nav-item {
    opacity: 0;
    transform: translateY(-20px);
    transition: all 0.5s ease;
}

.nav-item.show {
    opacity: 1;
    transform: translateY(0);
}

/* Sección de hero */
.hero-section {
    position: relative;
    /* Permite posicionar elementos hijos de forma absoluta */
    height: 100vh;
    /* Altura del 80% de la altura visible de la pantalla */
    background-color: #000;
    /* Color de fondo negro */
    overflow: hidden;
    /* Oculta cualquier contenido que se salga del contenedor */
}

/* Estilo para la imagen de fondo */
.hero-section img {
    position: absolute;
    /* Posicionamiento absoluto respecto al contenedor */
    top: 0;
    /* Alinea con la parte superior */
    left: 0;
    /* Alinea con la parte izquierda */
    width: 100%;
    /* Ocupa todo el ancho */
    height: 100%;
    /* Ocupa toda la altura */
    object-fit: cover;
    /* Ajusta la imagen para cubrir todo el espacio */
    z-index: 1;
    /* Capa 1 - detrás del contenido */
}

.hero-content {
    position: relative;
    /* Posicionamiento relativo para mantener el z-index */
    z-index: 2;
    /* Capa de apilamiento - asegura que esté por encima del fondo */
    height: 100%;
    /* Ocupa toda la altura del contenedor padre */
    display: flex;
    /* Activa el modelo flexbox */
    flex-direction: column;
    /* Organiza los elementos en columna (vertical) */
    justify-content: center;
    /* Centra verticalmente el contenido */
    color: white;
    /* Color del texto */
    padding: 32px;
    /* Espacio interno alrededor del contenido */
    margin-top: 10%;
    margin-left: 10%;
}

.hero-title {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 16px;
    /* Espacio debajo del título */
    text-transform: uppercase;
    font-weight: 400;
}

.hero-subtitle {
    font-size: 60px;
    /* Tamaño de la fuente */
    font-weight: bold;
    margin-bottom: 32px;
    /* Espacio debajo del subtítulo */
    text-transform: uppercase;
    letter-spacing: 1.5px;
}

.hero-button {
    display: inline-block;
    /* Permite agregar padding y mantiene el flujo del texto */
    padding: 8px 20px;
    /* Espacio interno (arriba/abajo izquierda/derecha) */
    background-color: #09320F;
    /* Color de fondo verde oscuro */
    color: white;
    /* Color del texto */
    text-decoration: none;
    /* Elimina el subrayado del enlace */
    border-radius: 5px;
    /* Bordes redondeados */
    transition: background-color 0.3s;
    /* Animación suave al cambiar el color de fondo */
    width: fit-content;
    font-weight: regular;
    font-size: 20px;
}

.hero-button:hover {
    background-color: #175e17;
}

@media (max-width: 768px) {
    .hero-title {
        font-size: 32px;
    }

    .hero-subtitle {
        font-size: 24px;
    }

}

@media (max-width: 480px) {
    .hero-title {
        font-size: 24px;
    }

    .hero-subtitle {
        font-size: 18px;
    }
}

/* Productos destacados */
.featured-products {
    padding: 64px 0;
    /* Espacio interno superior e inferior */
}

.section-title {
    text-align: center;
    /* Centra el texto horizontalmente */
    margin-bottom: 48px;
    /* Espacio debajo del título */
    font-size: 40px;
    /* Tamaño de la fuente */
    color: #333;
    /* Color del texto */
    font-weight: bold;
    letter-spacing: 3px;
}

.product-grid {
    display: grid;
    /* Activa el diseño en cuadrícula */
    /* Crea columnas automáticas con un mínimo de 250px y que se ajusten al espacio */
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 90px;
    /* Espacio entre los elementos de la cuadrícula */
    padding: 0;
    /* Espacio interno en los lados */
    max-width: 1400px;
    margin: 0 auto;
}

.product-card-dest {
    background: #fff;
    /* Fondo blanco */
    border-radius: 8px;
    /* Bordes redondeados */
    overflow: hidden;
    /* Oculta contenido que se salga de la tarjeta */
    /* Sombra: desplazamiento-x desplazamiento-y desenfoque color */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
    /* Animación suave al transformar */
    max-width: 600px;
    cursor: pointer;
}

.product-card-dest:hover {
    transform: translateY(-10px);
    /* Mueve la tarjeta 5px hacia arriba al pasar el mouse */
}

.product-image-dest {
    width: 100%;
    /* Ocupa todo el ancho disponible */
    height: 400px;
    /* Altura fija */
    object-fit: cover;
    /* Ajusta la imagen para cubrir el espacio sin deformarse */
    background: #000;
    /* Fondo negro por si la imagen no carga */
}

.product-info {
    padding: 16px;
    /* Espacio interno */
    text-align: center;
    /* Centra el texto */
}

.product-title {
    font-size: 18px;
    /* Tamaño de la fuente */
    margin-bottom: 8px;
    /* Espacio debajo del título */
    color: #333;
    /* Color del texto */
}


/* Estilos para pantallas más pequeñas */
@media (max-width: 768px) {

    /* Se aplica cuando la pantalla es menor a 768px */
    .hero-title {
        font-size: 32px;
        /* Reduce el tamaño del título */
    }

    .hero-subtitle {
        font-size: 19px;
        /* Reduce el tamaño del subtítulo */
    }

    .product-grid {
        /* Ajusta el tamaño mínimo de las columnas para pantallas pequeñas */
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }
}

/* Marco */
/* Marco */
.marco {
    width: 100%;
    height: 250px;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner-img {
    width: 100%;  /* Ocupa el ancho completo */
    height: auto; /* Mantiene la proporción original de la imagen */
    object-fit: cover; /* Cubre el área del contenedor sin perder la relación de aspecto */
}

.marco-content {
    position: absolute;
    bottom: 20px;
    text-align: center;
}

.marco-btn {
    background-color: #191818;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 10px;
}

.marco-btn:hover {
    background-color: #515050;
}

/* Media Queries para Móviles */
@media (max-width: 768px) {
    .banner-img {
        width: 100%;  /* Asegura que la imagen ocupe el ancho completo en dispositivos pequeños */
        height: auto;  /* Mantiene la proporción original */
        object-fit: cover;  /* Asegura que la imagen cubra completamente el contenedor sin distorsionarse */
    }

    .marco {
        height: 200px;  /* Ajusta la altura del marco para pantallas más pequeñas */
    }

    .marco-btn {
        padding: 8px 16px;
        font-size: 14px;
    }
}


@media (max-width: 480px) {
    .banner-img {
        height: 150px;  /* Ajusta la altura aún más en dispositivos muy pequeños */
        object-fit: cover;  /* Asegura que la imagen siga cubriendo el área del contenedor */
    }

    .marco {
        height: 180px;  /* Ajusta la altura para pantallas muy pequeñas */
    }

    .marco-btn {
        padding: 10px 20px;
        font-size: 12px;
    }
}

/* Nuestros productos */
.our-products {
    padding: 64px 0;
    text-align: center;
}

.product-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 100px;
    margin-top: 20px;
    flex-wrap: wrap; /* Permite que los productos se ajusten cuando el espacio es reducido */
}

.product-card {
    text-align: center;
    max-width: 500px;
    background: none;
    margin: 0;
    padding: 0;
    transition: transform 0.3s;
}

/* Imagen de los productos */
.product-image {
    width: 100%;
    height: auto; /* Asegura que las imágenes mantengan su proporción */
    max-height: 450px; /* Limita la altura máxima para evitar que las imágenes sean demasiado grandes */
    object-fit: contain; /* Mantiene la relación de aspecto de la imagen */
    border-radius: 8px;
    margin-bottom: 25px;
    
}

/* Botones de productos */
.product-button-container {
    display: flex;
    justify-content: center;
    background: none;
    padding: 0;
    margin: 0;
}

.product-btn {
    padding: 10px 20px;
    font-size: 16px;
    background-color: transparent;
    color: var(--primary-color);
    border: 2px solid var(--primary-color);
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
    width: 150px;
    text-align: center;
}

.product-btn:hover {
    background-color: #dadada;
}

.product-btn:active {
    transform: translateY(2px);
}

/* Features */
.features {
    display: flex;
    justify-content: center;
    gap: 50px;
    background-color: #d0d3c9;
    padding: 64px 10px;
}

.feature {
    text-align: center;
    max-width: 400px;
    padding: 16px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.feature-icon {
    width: 24px;
    height: 24px;
    margin-bottom: 16px;
}

.feature-title {
    font-size: 20px;
    margin-bottom: 8px;
    font-weight: bold;
}

.feature-description {
    font-size: 14px;
    color: #353535;
}

/* Media Queries para Móviles */

/* Marco */
@media (max-width: 768px) {
    .banner-img {
        height: auto;
        width: 100%;
    }

    .product-image-dest {
        width: 100%;
        height: fit-content;
    }

    .marco-btn {
        padding: 8px 16px;
        font-size: 14px;
    }
}

/* Nuestros productos */
@media (max-width: 768px) {
    .product-container {
        flex-direction: column;
        gap: 30px;
        align-items: center;
    }

    .product-card {
        align-items: center;
        padding: 0 0px;
    }

    .product-image {
        max-height: 500px; /* Ajusta la altura de las imágenes en pantallas pequeñas */
        border-radius: 8px;
        width: 100%;
        height: auto;
        object-fit: contain;
    }

    .product-image-dest {
        width: 100%;
        height: fit-content;
    }

    .product-btn {
        width: 50%;
        padding: 12px;
        font-size: 14px;
    }
}

/* Features */
@media (max-width: 768px) {
    .features {
        flex-direction: column;
        padding: 40px 10px;
    }

    .feature {
        max-width: 100%;
        margin-bottom: 20px;
        padding: 20px;
    }

    .feature-title {
        font-size: 18px;
    }

    .feature-description {
        font-size: 13px;
    }
}

/* Para dispositivos más pequeños */
@media (max-width: 480px) {
    .section-title {
        font-size: 28px;
    }

    .product-image {
        width: 100%;
        max-height: 500px;
        border-radius: 8px;
        height: auto;
    }

    .product-image-dest {
        width: 100%;
        height: fit-content;
    }

    .product-btn {
        width: 50%;
        padding: 10px 0;
    }

    .feature-title {
        font-size: 16px;
    }

    .feature-description {
        font-size: 12px;
    }

    .banner-img {
        height: 150px;
        width: 100%;
    }
}



/* footer */
.footer {
    background: #1E1E1E;
    color: white;
    padding: 50px 0 20px;
    position: relative;
    overflow: hidden;
}

.footer h5 {
    color: #fff;
    font-weight: 600;
    margin-bottom: 20px;
    position: relative;
    display: inline-block;
}

.footer h5::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 50px;
    height: 2px;
    background-color: #ecf0f1;
    transition: width 0.3s ease;
}

.imagen {
    width: 100%;
    object-fit: cover;
}

.footer h5:hover::after {
    width: 100%;

}

.footer p,
.footer ul {
    font-weight: 300;

}

.footer a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease;
    cursor: pointer;
}

.footer-links li {
    margin-bottom: 10px;
    transition: transform 0.3s ease;
}

.footer-links li:hover {
    color: #a6a280;
    transform: translateX(5px);
}


.social-icons {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.2rem;
    margin-right: 20px;
    color: white;
    transition: all 0.3s ease;
}

.social-icons:hover {
    color: #a6a280;
    transform: translateY(-5px);
}



#year {
    font-weight: bold;
    color: #fff;
}

.copyright {
    background-color: #1E1E1E;
    padding: 15px 0;
    margin-top: 30px;
}

.seleccion {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 20px;
    padding: 20px;
    max-height: 90dvh;
    color: #fff;
}

.hombres {
    font-family: "Josefins Sans" sans-serif;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    background-color: #a6a280;
    border-radius: 10px;
    padding: 1rem;
}

.mujeres {
    font-family: "Josefins Sans" sans-serif;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    background-color: #a6a280;
    border-radius: 10px;
    padding: 1rem;
}

.mujeres img{
    width: 100%;
    height: auto;
}

@media(max-width: 768px) {
    .footer {
        text-align: center;
    }

    .social-icons {
        margin-top: 20px;
    }
}

@media (max-width: 991px) {
    .navbar-nav {
        background-color: #111010;
        padding: 20px;
        border-radius: 10px;
        margin-top: 10px;
    }

    .nav-link {
        text-align: center;
        justify-content: center;
        margin: 5px 0;
    }

    .nav-link::after {
        display: none;
    }
}