body {
    max-width: 100%;
    overflow-x: hidden;
    background-color: rgb(17, 17, 17);
    font-family: 'Josefin Sans', sans-serif;
    margin: 0;
    padding: 0;
    font-size: 15px;
    margin: 1rem 0 0 0;
}

.divisor-chick {
    display: flex;
    border-top: 0.3125rem solid #DAD3BE;
    /* 5px */
    border-bottom: 0.3125rem solid #DAD3BE;
    margin: rem 1rem 0 8rem 0;
}

.divisor-chick div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 6.25rem;
    /* 100px */
    background-color: #DAD3BE;
    margin: 1.25rem 0 1.25rem 0;
    /* 20px */
    padding: 0.625rem 0 0.625rem 0;
    /* 10px */
    font-size: 1.875rem;
    /* 30px */
}

.Color {
    display: inline-block;
    /* Para alinearlo con el texto */
    width: 16px;
    /* Ancho del cuadrado */
    height: 16px;
    /* Alto del cuadrado */
    border: .5px solid #ffffff;
    /* Borde del cuadrado */
    background-color: red;
    /* Fondo vacío */
    vertical-align: middle;
    /* Alineación con el texto */
    margin-left: 5px;
    /* Espaciado desde el texto */
}


/* Clases de las portadas */
.portada {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-columns: 1fr;
    gap: 10px 5rem;
    margin: 3rem 0rem 10rem 0rem;
    height: 100vh;
    /* 50% de la altura de la ventana */
    color: rgb(209, 209, 209);
    max-height: 90dvh;
}

.portada-texto {
    gap: 1rem 0;
    color: white;
    justify-self: end;
    max-width: 70%;
    align-self: center;
}

.portada-texto-titulo {
    max-width: 100%;
    text-transform: uppercase;
    font-size: 3rem;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
    align-self: center;
    transition: color 0.3s ease, transform 0.3s ease;
}

.portada-texto-titulo:hover {
    color: #ffffff;
    /* Cambia el color al pasar el mouse */
    transform: scale(1.1);
    /* Hace que las letras crezcan ligeramente */
}

.portada-texto-descripcion {
    border-top: .2rem solid white;
    text-align: justify;
    line-height: 1.5;
    padding: 0 0 0 0rem;
    transition: color 0.3s ease, transform 0.3s ease;
    font-size: 1.5rem;
}

.portada-texto-descripcion ul>li {
    line-height: 2.5;
}


.portada-texto-descripcion:hover {
    color: #ffffff;
    /* Cambia el color al pasar el mouse */
    transform: scale(1.1);
    /* Hace que las letras crezcan ligeramente */
}

.portada-foto {
    display: flex;
    justify-content: start;
    overflow: hidden;
}

.portada-foto img:hover {
    border: 2px solid #fff;
    transform: scale(.9);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.portada-foto img {
    max-width: 100%;
    transition: transform 0.5s ease, border 0.5s ease;
    cursor: pointer;
}

/* Vestido Rubí */
.izquierda {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 20% 1fr;
    grid-auto-columns: 1fr;
    gap: 10px 5rem;
    margin: 6rem 0rem 6rem 0rem;
    height: 100vh;
    /* 50% de la altura de la ventana */
    color: rgb(209, 209, 209);
    max-height: 100dvh;
}

.izquierda-titulo {
    text-transform: uppercase;
    font-size: 2.5rem;
    justify-self: center;
    align-self: center;
    padding: 0 0 0 0;
}

.izquierda-linea {
    display: flex;
}

.izquierda-linea hr {
    flex: 1;
    background-color: #ffffff;
    border-color: #ffffff;
    border-width: .2rem;
    border-style: solid;
    align-self: center;
}

.izquierda-img {
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.izquierda-img img {
    max-width: 85%;
    transition: transform 0.5s ease, border 0.5s ease;
    cursor: pointer;
}

.izquierda-img img:hover {
    border: 2px solid #fff;
    transform: scale(.9);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.izquierda-texto {
    align-self: center;
    color: white;
    line-height: 1.8;
    text-align: justify;
    max-width: 70%;
    transition: color 0.3s ease, transform 0.3s ease;
}

.izquierda-texto ul>li {
    line-height: 2.5;
}

.izquierda-texto:hover {
    color: #ffffff;
    /* Cambia el color al pasar el mouse */
    transform: scale(1.2);
    /* Hace que las letras crezcan ligeramente */
}



/* Vestido Derecha */
.derecha {
    color: rgb(209, 209, 209);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 20% 1fr;
    grid-auto-columns: 1fr;
    gap: 10px 5rem;
    margin: 6rem 0rem 6rem 0rem;
    height: 100vh;
    /* 50% de la altura de la ventana */
    max-height: 100dvh;
}

.derecha-titulo {
    text-transform: uppercase;
    font-size: 2.5rem;
    justify-self: center;
    align-self: center;
    padding: 0 0 0 0;
}

.derecha-linea {
    display: flex;
}

.derecha-linea hr {
    flex: 1;
    background-color: #ffffff;
    border-color: #ffffff;
    border-width: .2rem;
    border-style: solid;
    align-self: center;
}

.derecha-texto {
    align-self: center;
    justify-self: end;
    color: white;
    line-height: 1.8;
    text-align: justify;
    max-width: 70%;
    transition: color 0.3s ease, transform 0.3s ease;
    /* Transiciones suaves */
}

.derecha-texto ul>li {
    line-height: 2.5;
}

.derecha-texto:hover {
    color: #ffffff;
    /* Cambia el color al pasar el mouse */
    transform: scale(1.2);
    /* Hace que las letras crezcan ligeramente */
}


.derecha-img {
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.derecha-img img {
    max-width: 85%;
    transition: transform 0.5s ease, border 0.5s ease;
    cursor: pointer;
}

.derecha-img img:hover {
    border: 2px solid #fff;
    transform: scale(.9);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}


/* Estilos para móviles */
@media (max-width: 480px) {
    /* General Reset */

    .portada {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100vh;
    }

    .portada-texto-titulo h1 {
        justify-self: center;
        font-size: 3rem;
    }

    .portada-texto-descripcion P {
        padding: 1rem 0 0rem 0;
        margin: 0 0 3rem 0;
        font-size: 1rem;
    }

    .portada-foto {
        justify-content: center;
        width: 100%;
    }

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        color: #fff;
        font-family: "Josefin Sans", sans-serif;
        font-size: 10px;
    }

    .divisor-chick {
        display: flex;
        border-top: 3px solid #DAD3BE;
        /* 5px */
        border-bottom: 3px solid #DAD3BE;
        margin: 2rem 0 1rem 0;
        color: black;
    }

    .divisor-chick div {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 3rem;
        /* 100px */
        background-color: #DAD3BE;
        margin: 1rem 0 1rem 0;
        /* 20px */
        padding: .5rem 0 0.5rem 0;
        /* 10px */
        font-size: 3rem;
        /* 30px */
    }

    .divisor-chick div>h1 {
        font-size: 2.5rem;
        /* 30px */
    }

    /* Estructura general */
    .izquierda,
    .derecha {
        display: flex;
        flex-direction: column;
        /* Orden en columna */
        align-items: center;
        /* Centra horizontalmente los elementos */
        max-height: 100dvh;
    }

    .izquierda-linea,
    .derecha-linea,
    .izquierda-titulo,
    .derecha-titulo,
    .izquierda-img,
    .derecha-img,
    .izquierda-texto,
    .derecha-texto {
        width: 100%;
        /* Ocupa toda la línea */
        text-align: center;
        /* Centra el contenido textual */
    }

    /* Asegura el orden correcto */
    .izquierda-linea,
    .derecha-linea {
        order: 0;
        /* Primero la línea */
    }

    .izquierda-titulo,
    .derecha-titulo {
        order: 1;
        /* Después el título */
    }

    .izquierda-img,
    .derecha-img {
        order: 2;
        /* Luego la imagen */
    }

    .izquierda-texto,
    .derecha-texto {
        order: 3;
        /* Finalmente el texto */
    }

    /* Imágenes responsivas */
    .izquierda-img img,
    .derecha-img img {
        width: 45%;
        /* Imágenes ocupan todo el ancho */
        height: auto;
        /* Mantiene proporciones */
    }

    /* Líneas horizontales centradas */
    .izquierda-linea hr,
    .derecha-linea hr {
        margin: 10px auto;
        width: 90%;
        height: 0.2rem;
        background-color: #fff;
        border: none;
        /* Elimina bordes adicionales */
    }

    /* Títulos */
    .izquierda-titulo h1,
    .derecha-titulo h1 {
        font-size: 2.5rem;
        /* Ajusta tamaño del texto */
        margin: 10px 0;
        text-transform: uppercase;
    }

    .izquierda-texto p,
    .derecha-texto p {
        font-size: 1rem;
        text-align: justify;
        /* Para mejor legibilidad */
        line-height: 1.5;
    }

    .izquierda-texto ul,
    .derecha-texto ul {
        font-size: .6rem;
        text-align: justify;
        /* Para mejor legibilidad */
        line-height: 1.2;
    }

    .izquierda-texto,
    .derecha-texto {
        margin: 2rem 0 0 0;
        display: grid;
        /* Eliminamos el valor incorrecto */
        grid-template-columns: 50% 40%;
        grid-template-rows: 1fr;
        gap: 2rem 3rem;
        justify-self: start;
    }
}

@media (min-width: 481px) and (max-width: 768px) {

    /* General Reset */
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        color: #fff;
        font-family: "Josefin Sans", sans-serif;
        font-size: 12px;
    }

    .divisor-chick {
        display: flex;
        border-top: 3px solid #DAD3BE;
        /* 5px */
        border-bottom: 3px solid #DAD3BE;
        margin: 2rem 0 1rem 0;
        color: black;
    }

    .portada {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100vh;
    }

    .portada-texto-titulo h1 {
        justify-self: center;
        font-size: 4rem;
        margin: 2rem 0 2rem 0;
    }

    .portada-texto-descripcion P {
        padding: 2rem 0 0rem 0;
        margin: 0 0 3rem 0;
        font-size: 1rem;
    }

    .portada-foto {
        justify-content: center;
        width: 100%;
    }

    .divisor-chick div {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 3rem;
        /* 100px */
        background-color: #DAD3BE;
        margin: 1rem 0 1rem 0;
        /* 20px */
        padding: .5rem 0 0.5rem 0;
        /* 10px */
        font-size: 3rem;
        /* 30px */
    }

    .divisor-chick div>h1 {
        font-size: 2.5rem;
        /* 30px */
    }

    .izquierda {
        display: grid;
        grid-template-columns: 60% 1fr;
        grid-template-rows: 25% 1fr;
        grid-auto-columns: 1fr;
        gap: 10px 5rem;
        margin: 6rem 0rem 6rem 0rem;
        height: 100vh;
        /* 50% de la altura de la ventana */
        color: rgb(209, 209, 209);
        max-height: 100vh;
    }

    .derecha {
        color: rgb(209, 209, 209);
        display: grid;
        grid-template-columns: 1fr 60%;
        grid-template-rows: 25% 1fr;
        grid-auto-columns: 1fr;
        gap: 10px 5rem;
        margin: 6rem 0rem 6rem 0rem;
        height: 100vh;
        /* 50% de la altura de la ventana */
        max-height: 100vh;
    }

    .izquierda-titulo h1,
    .derecha-titulo h1 {
        justify-self: center;
        font-size: 3rem;
    }

    .izquierda-img img,
    .derecha-img img {
        order: 0;
        /* Primero la línea */
        width: 80%;
        /* Ocupa toda la línea */
        height: auto;
        /* Mantiene proporciones */
    }

    .izquierda-texto p,
    .derecha-texto p {
        margin-bottom: 1rem;
    }
}

@media (min-width: 769px) and (max-width: 1000px) {

    /* General Reset */
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        color: #fff;
        font-family: "Josefin Sans", sans-serif;
        font-size: 12px;
    }

    .divisor-chick {
        display: flex;
        border-top: 3px solid #DAD3BE;
        /* 5px */
        border-bottom: 3px solid #DAD3BE;
        margin: 2rem 0 1rem 0;
        color: black;
    }

    .portada {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100vh;
    }

    .portada-texto-titulo h1 {
        justify-self: center;
        font-size: 4rem;
        margin: 2rem 0 2rem 0;
    }

    .portada-texto-descripcion P {
        padding: 2rem 0 0rem 0;
        margin: 0 0 3rem 0;
        font-size: 1rem;
    }

    .portada-foto {
        justify-content: center;
        width: 100%;
    }

    .divisor-chick div {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 3rem;
        /* 100px */
        background-color: #DAD3BE;
        margin: 1rem 0 1rem 0;
        /* 20px */
        padding: .5rem 0 0.5rem 0;
        /* 10px */
        font-size: 3rem;
        /* 30px */
    }

    .divisor-chick div>h1 {
        font-size: 2.5rem;
        /* 30px */
    }

    .izquierda {
        display: grid;
        grid-template-columns: 50% 1fr;
        grid-template-rows: 25% 1fr;
        grid-auto-columns: 1fr;
        gap: 10px 5rem;
        margin: 6rem 0rem 6rem 0rem;
        height: 100vh;
        /* 50% de la altura de la ventana */
        color: rgb(209, 209, 209);
        max-height: 100vh;
    }

    .derecha {
        color: rgb(209, 209, 209);
        display: grid;
        grid-template-columns: 1fr 50%;
        grid-template-rows: 25% 1fr;
        grid-auto-columns: 1fr;
        gap: 10px 5rem;
        margin: 6rem 0rem 6rem 0rem;
        height: 100vh;
        /* 50% de la altura de la ventana */
        max-height: 100vh;
    }

    .izquierda-titulo h1,
    .derecha-titulo h1 {
        justify-self: center;
        font-size: 3rem;
    }

    .izquierda-img img,
    .derecha-img img {
        order: 0;
        /* Primero la línea */
        width: 80%;
        /* Ocupa toda la línea */
        height: auto;
        /* Mantiene proporciones */
    }

    .izquierda-texto p,
    .derecha-texto p {
        margin-bottom: 1rem;
    }
}